/* src/styles.css */

/* Style the app container */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: rgb(244, 247, 244);
  padding: 20px;
}

/* Style the navigation bar */
nav {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

/* Style the search bar */
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style the Add Book form */
form {
  margin-top: 20px;
}

/* Style the Book List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}